<section class="ui raised segment">
        <form class="ui secondary segment form" action="/dashboard/addIsland" method="POST">
            <h2>Add Island</h2>
            <div class="three fields">
                <div class="field">
                    <label>Name</label>
                    <textarea rows="1" input type="text" placeholder="Name" name="name"></textarea>
                </div>
                <div class="field">
                    <label>Category</label>
                    <textarea rows="1" input type="text" placeholder="Category" name="category"></textarea>
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea rows="1" input type="text" placeholder="Description" name="description"></textarea>
                </div>
            </div>
            <button class="ui blue submit button">Add Island</button>
        </form>
    </div>
</section>