<form class="ui primary segment form" action="/adminDashboard/addRegion" method="POST">
    <h3>Add Regions</h3>
    <div class="one field">
        <div class="field">
            <label>Regions Name</label>
            <input placeholder="Regions Name" type="text" name="region" required>
        </div>
    </div>
    <button class="ui blue submit button">Add Regions</button>
</form>

