<form class="ui primary segment form" action="/dashboard/addRegion" method="POST">
    <h3>Add Region</h3>
    <div class="one field">
        <div class="field">
            <label>Region Name</label>
            <textarea rows="1" input type="text" placeholder="Region Name" name="region"></textarea>
        </div>
    </div>
    <button class="ui blue submit button">Add Region</button>
</form>

