<form class="ui primary segment form" action="/adminDashboard/addRegion" method="POST">
    <h3>Add Region</h3>
    <div class="one field">
        <div class="field">
            <label>Region Name</label>
            <input placeholder="Region Name" type="text" name="region" required>
        </div>
    </div>
    <button class="ui blue submit button">Add Region</button>
</form>

