<div class="ui vertical menu">
    <div class="ui dropdown item">
        Categories
        <i class="dropdown icon"></i>
        <div class="menu">
            {{#each regions}}
                <div class="item">
                    <a href="/dashboard/getIslands?region={{this.region}}"><span class="ui black text">{{this.region}}</span></a>
                </div>
            {{/each}}
        </div>
    </div>
</div>