<div class="ui compact menu">
  <div class="ui simple dropdown item">
    Island By Costal Region
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item">
            <a href="/dashboard/getIslands?region=allRegions"><span class="ui black text">All Regions</span></a>
        </div>
        <div class="item">
            <a href="/dashboard/getIslands?region=northEast"><span class="ui black text">North East</span></a>
        </div>
        <div class="item">
            <a href="/dashboard/getIslands?region=east"><span class="ui black text">East Coast</span></a>
        </div>
        <div class="item">
            <a href="/dashboard/getIslands?region=south"><span class="ui black text">South Coast</span></a>
        </div>
        <div class="item">
            <a href="/dashboard/getIslands?region=midWest"><span class="ui black text">Mid West</span></a>
        </div>
    </div>
  </div>
</div>