<section class="ui stacked fluid form segment">
    <h2> Upload an Image</h2>
    <form class="ui segment form" action="/uploadfile/{{islandDetails._id}}" method="POST" enctype="multipart/form-data">
        <div class="field">
            <input type="file" name="imagefile" accept="image/png, image/jpeg" required>
        </div>
        <button class="ui blue submit button" value="Upload">Upload Image</button>
    </form>
    <a href="/dashboard/showIslandDetails/{{islandDetails._id}}/deleteImage/{{islandDetails.imageURL.[0].[1]}}" class="ui icon button">
        <i class="red large icon trash alternate">  </i>
    </a>
    {{> error }}
</section>