{{> mainmenuAdmin _id="dashboard" }}

<section class="ui raised segment">
    <div class="column">
        {{> adminListMembers}}

        {{> addRegion}}

        {{> adminListRegions}}

    </div>
    {{> error}}
</section>