{{> mainmenuAdmin _id="dashboard" }}

<section class="ui raised segment">
    <!-- <button class="ui submit button">
        <a href="/dashboard/listIslands"> <span class="ui black text">List all Islands</span></a>
    </button> -->
    {{> addIsland}}

    <div class="ui  divider"></div>

    {{> regionCategories }}

    <div class="ui  divider"></div>

    {{> listIslands}}

    <div class="ui  divider"></div>

    {{> addRegion}}

    {{> error}}

</section>
