{{> mainmenu _id="dashboard" }}

<section class="ui raised segment">
    <!-- <button class="ui submit button">
        <a href="/dashboard/listIslands"> <span class="ui black text">List all Islands</span></a>
    </button> -->
    <h1>Add Island</h1>
    {{> addIsland}}

    {{> error}}

    <div class="ui  divider"></div>

    <h1>View Islands by Region</h1>
    {{> regionCategories }}

    <div class="ui  divider"></div>

    {{> memberListIslands}}

</section>
