{{> mainmenu _id="dashboard" }}

<section class="ui raised segment">
    {{>memberStats}}

    <h1>Add Island</h1>
    {{> addIsland}}

    {{> error}}

    <div class="ui  divider"></div>

    <h1>View Islands by Regions</h1>

    {{> regionCategories }}

    <div class="ui  divider"></div>

    {{> memberListIslands}}

</section>
