{{> mainmenu _id="dashboard" }}

<section class="ui raised segment">
    <div class="ui grid">

        {{> memberEditDetailsForm}}

        <aside class="ui six wide column">
            <img src="{{islandDetails.imageURL.[0]}}" class="ui large image">
            {{> upload}}
            <h2><span class="ui medium red text">{{noFile}}</span></h2>
        </aside>
    </div>
</section>