{{> mainmenu _id="settings" }}

<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="/settings" method="POST">
                    <h3 class="ui header">Register</h3>
                    <div class="two fields">
                        <div class="field">
                            <label>First Name</label>
                            <input value="{{user.firstName}}" type="text" name="firstName" required>
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input value="{{user.lastName}}" type="text" name="lastName" required>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input value="{{user.email}}" type="text" name="email" required>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input value="{{user.password}}" type="password" name="password" required>
                    </div>
                    <button class="ui blue submit button">Save</button>
                </form>
                <h3></h3>
                <a href="/settings">
                    <button class="ui red  button">Cancel Changes</button>
                </a>
                {{> error }}
            </div>
        </div>
    </div>
</section>